.app-bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 22px;
  padding-right: 14px;
  padding-bottom: 22px;
  padding-left: 14px;
  max-width: 400px;
  text-align: center;
}
.heading {
  font-family: roboto;
  font-size: 25px;
  color: #0f172a;
  font-weight: 600;
}
.emojis-container {
  display: flex;
  justify-content: space-evenly;
}
.emoji-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  list-style-type: none;
}

.image {
  height: 40px;
  width: 40px;
}
.description {
  font-family: roboto;
  font-size: 10px;
  font-weight: 400;
  color: #1e293b;
}
